<div class="bg-video">
    <video class="bg-video__content" autoplay muted>
        <source src = "/img/Dodge-Tornado.mp4" type = "video/mp4">
        <source src = "/img/Dodge-Tornado.webm" type = "video/webm">
        Your browser is not supported
    </video>
</div>