<nav class="nav">
    <ul class="nav__items">
        <li class="nav__item nav__item--icon">
            <i class = "fas fa-meteor"></i>
        </li>
        <li class="nav__item nav__item--name">
            Weather App
        </li>
        <li class="nav__item nav__item--toggle">
            <i class = "fas fa-bars"></i>
        </li>
    </ul>
</nav>