.nav {
    height: 7%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 1%;
    
    &__items {
        height: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__item {
        color: $color-white;
        font-size: 2.6rem;

        &--icon {
            margin-left: 2rem;
            
        }
        
        &--name {
            font-family: 'Sofia', cursive;
        }

        &--toggle {
            margin-right: 2rem;
        }
    }
}

